.text-contact {
    padding: 1rem;
}

.text-contact h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.text-contact p {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .text-contact p {
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 25rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .contact {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 20rem;
        width: 80%;
    }
}

.map {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 0;
    box-sizing: border-box;
}