.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.font-hind {
    font-family: 'Hind', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.container {
    padding: 0px 2rem;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.banner {
    width: 80%;
    height: 36rem;
    background: rgba(0, 0, 0, 0.5) url("https://pinturasdoal.com/wp-content/uploads/Featured-Inversion-para-montar-una-ferreteria.jpg") center/cover;
    margin: 2rem auto;
    display: flex;
    align-items: end;
    justify-content: center;
}

.text-banner {
    padding-bottom: 1rem;
    color: #fff;
}

.text-products {
    width: 80%;
    margin: 0 auto;
}

.products {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.product {
    text-align: center;
    border: 0.5rem solid #ccc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.product img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    margin-bottom: 10px;
}