.text-products {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

@media (min-width: 640px) {
    .products {
        gap: 2rem;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.product {
    border: 2px solid #e5e7eb;
    text-align: center;
    border-radius: 1rem;
    background-color: white;
    height: 100%;
}

.product-img {
    padding: 1rem;
    box-sizing: border-box;
    height: 50%;
}

@media (min-width: 640px) {
    .product-img {
        height: 70%;
    }
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.product-text h3 {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.product-text p {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .product-text p {
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

.product-text span {
    font-size: 1rem;
    font-weight: 600;
    color: #2563eb;
}