body {
    margin: 0;
    padding: 0;
}

.font-hind {
    font-family: 'Hind', sans-serif;
}

.upperHeader {
    background-color: #1e3a8a;
    height: 2.5rem;
    width: 100%;
}

.header {
    background-color: white;
    height: auto;
    width: 100%;
    color: black;
    border-bottom: 2px solid #e5e7eb;
    padding-top: 0.375rem;
}

.logo p {
    font-weight: bold;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
    justify-content: space-between;
}

@media (min-width: 640px) {
    .container {
        flex-direction: row;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 640px) {
    .logo {
        justify-content: flex-start;
    }
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    align-items: center;
}

@media (min-width: 640px) {
    .menu {
        justify-content: flex-end;
        padding-top: 0;
    }
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.menu ul li a {
    color: black;
    text-decoration: underline;
}

.main {
    width: 100%;
    background-color: #f3f4f6;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.footer {
    border-top: 2px solid #e5e7eb;
    background-color: white;
    color: black;
    height: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}